{
  "printWidth": 200,
  "vueSingleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "vueMaxAttributesPerLine": {
    "singleline": 3, 
    "multiline": 1
  },
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf"
}